In [1]:
import duckdb
import os

# Connect to the database file
con = duckdb.connect('../duckdb/olist.duckdb')

# Get a list of all CSV files you just moved
csv_files = [f for f in os.listdir('data') if f.endswith('.csv')]

for file in csv_files:
    # Create a table name by removing '.csv' (e.g., 'olist_orders_dataset')
    table_name = file.replace('.csv', '')
    
    # Ingest each file into its own table
    con.execute(f"""
        CREATE TABLE IF NOT EXISTS {table_name} AS 
        SELECT * FROM read_csv_auto('data/{file}');
    """)
    print(f"Successfully ingested: {table_name}")

# Now, verify by showing all tables
display(con.execute("SHOW TABLES").df())

Successfully ingested: olist_customers_dataset
Successfully ingested: olist_order_payments_dataset
Successfully ingested: olist_order_items_dataset
Successfully ingested: product_category_name_translation
Successfully ingested: olist_orders_dataset
Successfully ingested: olist_sellers_dataset
Successfully ingested: olist_geolocation_dataset
Successfully ingested: olist_products_dataset
Successfully ingested: olist_order_reviews_dataset
Successfully ingested: olist_geolocation_dataset_pipe

                                 name
0             olist_customers_dataset
1           olist_geolocation_dataset
2      olist_geolocation_dataset_pipe
3           olist_order_items_dataset
4        olist_order_payments_dataset
5         olist_order_reviews_dataset
6                olist_orders_dataset
7              olist_products_dataset
8               olist_sellers_dataset
9   product_category_name_translation
10                         raw_orders

In [2]:
# Preview the orders table (or whatever name appeared in the SHOW TABLES list)
preview = con.execute("SELECT * FROM olist_orders_dataset LIMIT 5").df()
display(preview)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26